# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files to always be normalized and converted
# to native line endings on checkout:
*.csproj text
*.nuspec text
*.sln eol=crlf
*.msg text
*.txt text
*.yml text
*.cs text diff=csharp
*.md text diff=markdown
*.editorconfig text
*.json text
*.xml text
*.bash text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.css text
*.scss text diff=css
*.htm text diff=html
*.html text diff=html
*.sql text
*.js text
*.ts text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Documents
*.docx diff=astextplain
*.xlsx binary
*.pdf diff=astextplain
*.csv text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.gif binary
*.jpg binary
*.cdr binary
*.psd binary
